.recipeCard {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: Polysans, sans-serif;
  color: rgb(44, 43, 43);
}

.recepiName {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipeImage {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipeDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.recipeInstructions {
  padding: 10px;
  color: gray;
}

.recipeInstructions li {
  margin: 10px 0px;
}
